
.wrapper {
	@include Flex(center, center);
	// padding: 5%;
	flex-direction: row;
	width: 100%;
	height: 95%;
	box-sizing: border-box;
	.container {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		height: 100%;
		padding: 5%;
		flex: 1;
		h1{
			font-size: 5.8vw;
			margin-bottom: 0;
		}
		p{
			color: $mediumGray;
			margin: 10% 0 10%;
			width: 75%;
			line-height: 1.6em;
		}
		button{
			width: 20%;
			white-space: nowrap;
			padding: 2%;
			background-color: $almostBlack;
			border-radius: 15px;
			color: $almostWhite;
			font-weight: 700;
			transition: all ease .3s;
			
		}
		button:hover{
			background-color: $almostWhite;
			color: $almostBlack;
			cursor: pointer;
		}
		.clients {
			display: flex;
			margin-top: auto;
			max-width: 100%;
			flex-direction: row;
			
		}
		.clients > *{
			box-sizing: border-box;
			margin-right: 5%;
			height: 75%;
		}
		
	}
	> img {
		display: flex;
		flex: 1;
		height: 100%;
		padding: 5%;
		box-sizing: border-box;
		
	}
	.hero_mobile{
		display: none
	}
}

.attribution {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.hamburger {display: none;}