@media screen and(max-width:425px) {
	
	.overlay {
		
		position: absolute;
		z-index: 2;
		overflow: hidden;
		backdrop-filter: brightness(1);
		width: 100vw;
		height: 100vh;
		
	}
	.hide{
		transition: all 0.6s ease-in-out;
		backdrop-filter: brightness(30%);
	}
	.hamburger{
		position: absolute;
		z-index: 5;
		right: 0%;
		padding: 2%;
		display: inline-block;
		background-color: transparent;
		border: 0;
		margin: 0;
		.ham__box{
			position: relative;
			display: inline-block;
			width: 35px;
			height: 25px;
			.ham__inner{
				@include hamburger-line;
				
				
				top: 50%;
				transform: translate(0,-50%);
				transition: background-color .1s .2s ease-in-out;
			}
			
			.ham__inner::before, .ham__inner::after{
				@include hamburger-line;

				content: "";
				transition: transform .3s ease-in-out;
				
			}
			.ham__inner::before{
				top: -10px;
			}
			.ham__inner::after{
				top: 10px;
			}
			
		
		}	
	
	}
	.ham-active .ham__inner::before{
		transform: translateY(10px) rotate(45deg);
		
	}
	.ham-active .ham__inner::after{
		transform: translateY(-10px) rotate(-45deg);
	}
	.ham-active .ham__box .ham__inner {
		background-color: transparent;
		transition: background-color .3s .1s ease-in-out;
	}
	.show_nav{
		// right: 0;
		width: 65%;
	}
	
	nav {
		// display: none;
		overflow: hidden;
		
		flex-direction: column;
		align-items: flex-start;
		right: 0;
		width: 0%;
		height: 100vh;
		// width: 65vw;
		position: absolute;
		background-color: white;
		transition: width ease 0.5s;
		z-index: 3;
		.dropdown {
			.dropdown-content-features,
			.dropdown-content-company {
				position: relative;
				transform: translate(0);
				box-shadow: none;
				img {
					width: auto;
				}
			}
		}
		.signup {
			margin: 5% auto;
			align-items: center;
			flex-direction: column;
			width: 100%;
			.register {
				margin: 0;
				margin-top: 5%;
				padding: 0;
				text-align: center;
				width: 80%;
				padding: 5%
			}
		}
	}
	nav > * {
		margin: 5%;
	}
	
	.wrapper {
		width: 100vw;
		
		flex-direction: column-reverse;
		
		.container {
			height: auto;
			padding: 0;
			flex: 1;
			
			h1,p {
				box-sizing: border-box;
				text-align: center;
				
			}
			h1{
				width: 100%;
				font-size: 2.3em;
			}
			p {
				
				margin: 8% auto;
				width: 90%;
				
			}
			button {
				margin: 0 auto;
				width: 30%;
				padding: 3%;
				z-index: 2;
			}
			.clients {
				width: 100%;
				margin: auto;
				img {
					box-sizing: border-box;
					margin: 0 auto;
					height: 60%;
					
				}
			}
		}
		.hero_desk {
			display: none;
		}
		.hero_mobile {
			display: flex;
			box-sizing: border-box;
			margin: 5%;
			width: 100%;
			height: 100%;
			flex: 1;
		}
	}
	
}
