nav {
	width: 90%;
	height: 5%;
	padding: 2% 0 0 0;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	color: $mediumGray;
	transition: color ease 0.3s;
	
	
	.signup {
		margin-left: auto;
		margin-right: 2%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		.login:hover {
			cursor: pointer;
		}
		.register {
			padding: 10%;
			border: 2px solid $almostBlack;
			border-radius: 15px;
			margin-left: 25%;
			transition: all ease 0.3s;
		}
		.register:hover {
			background-color: $almostBlack;
			color: $almostWhite;
			cursor: pointer;
		}
	}
}
nav > * {
	margin-left: 5%;
}

nav > p:hover,
.features:hover,
.company:hover {
	color: $almostBlack;
	cursor: pointer;
}
.logo{
	position: absolute;
	padding: 2%;
}
// @media screen and(min-width:426px) {
	.dropdown {
		position: relative;

		.dropdown-content-features,
		.dropdown-content-company {
			display: none;
			flex-direction: column;
			position: absolute;
			z-index: 1;
			transform: translate(0, 10%);
			padding: 25%;
			background-color: white;
			border-radius: 10px;
			box-shadow: 2px 2px 10px gray;
		}
		
		.dropdown-content-features span,
		.dropdown-content-company span {
			padding: 5% 0;
			width: 100%;
			white-space: nowrap;
			// line-height: 1.7em;
			display: flex;
			height: 100%;
			flex-direction: row;
			> p {
				margin: 0;
				margin-left: 1vw;
			}
			> img {
				width: 1vw;
				height: 100%;
			}
		}
		.dropdown-content-features span:hover,
		.dropdown-content-company span:hover {
			color: $almostBlack;
			cursor: pointer;
		}
		.dropdown-content-features {
			transform: translate(-50%, 10%);
		}
		
	}
	.dropdown:hover .dropdown-content-features, .dropdown:hover .dropdown-content-company {
		display: flex;
	}
// }
